<h1>Type in your new secret here!</h1>
<%= form_for @secret do |f| %>
  <%= f.hidden_field :user_id, :value => session[:user_id] %>

  <%= f.label :content %>:
  <%= f.text_field :content, placeholder: "New secret" %> <br />

  <%= f.submit %>
<% end %>
<%= link_to 'Back', :back%>
